@import '../../../styles/base/variables.scss';
.a-image-pokemon__container {
  height: 10%;
  width: 100%;
  margin: 0 1rem;
  border-radius: 6px;
  text-align: center;
  background-color: $silver;
  display: flex;
  position: relative;
  background-color: rgba($color: #FFF, $alpha: 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba($color: #000, $alpha: 0.2);
  color: $white;

  &::after {
    position: absolute;
    content: '';
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    border-radius: 6px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba($color: #FFF, $alpha: 0.1) 0%, rgba($color: #FFF, $alpha: 0.1) 2%);
  }

  @include from($xx-large) {
    font-size: size(30);
    height: 20%;
	}
}

.a-image-pokemon__container--title {
  margin: auto;
  font-size: size(40);
  text-shadow: 5px 5px 5px black;
  
  @include from($xx-large) {
    font-size: size(30);
	}
  
}